In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

# Loading Dataset

# EDA and Exploration of Dataset

In [2]:
df = pd.read_csv("/kaggle/input/bengaluru-house-price-data/Bengaluru_House_Data.csv")
df.shape

(13320, 9)

In [3]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df.tail()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.0
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.0
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.0
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.0
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [ ]:
df.describe()

In [ ]:
sns.pairplot(df)

In [ ]:
def value_count():
    for var in df.columns:
        print(df[var].value_counts())
        print("--------------------------------")

# Correlation Heatmap

In [ ]:
num_vars = ["bath","balcony","price"]
sns.heatmap(df[num_vars].corr(),cmap = "coolwarm", annot=True)

# Correlation of bath is greater than a balcony with price
# 4.Prepare data with Machine Learning Model
## Data CleaningÂ¶

In [ ]:
df.isnull().sum() #fine the how much data is missing

In [ ]:
df.isnull().mean()*100 #% of mean value

In [ ]:
#visualizing missing values using heatmap to get the idea where the values are missing.
plt.figure(figsize=(16,9))
sns.heatmap(df.isnull())

In [ ]:
df2 = df.drop('society', axis='columns')
df2.shape

In [ ]:
df2['balcony'] = df2['balcony'].fillna(df2['balcony'].mean())
df2.isnull().mean()

In [ ]:
df3=df2.dropna()
df3.shape

In [ ]:
df3.isnull().sum()

In [ ]:
df3.head()

# Feature Engineering

In [ ]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

# Convert Total Sqft Category into Numerical

In [ ]:
df3['total_sqft'].value_counts()

In [ ]:
import numpy as np

total_sqft_int = []

for str_val in df3['total_sqft']:
    try:
        total_sqft_int.append(float(str_val))  # If '123.4' like this value in str, then convert to float
    except:
        try:
            temp = str_val.split('-')
            total_sqft_int.append((float(temp[0]) + float(temp[-1])) / 2)  # '123 - 534' this str value split and take mean
        except:
            total_sqft_int.append(np.nan)  # If value not in the above format, then consider as NaN

In [ ]:
df4 = df3.reset_index(drop=True) # drop=True - don't add index column in df

In [ ]:
df5 = df4.join(pd.DataFrame({'total_sqft_int':total_sqft_int}))
df5.head()

In [ ]:
df5.tail()

In [ ]:
df5.isnull().sum()

In [ ]:
df6 = df5.dropna()
df6.shape

In [ ]:
df6 = df5.dropna()
df6.shape

In [ ]:
df6.info

In [ ]:
df6['size'].value_counts()
 
# size feature shows the number of rooms

In [ ]:
size_int = []

for str_val in df6['size']:
    try:
        temp = int(str_val.split(" ")[0])
        size_int.append(temp)
    except ValueError:
        size_int.append(np.nan)
        print("Noise =", str_val)

df7 = df6.assign(bhk=size_int).reset_index(drop=True)

In [ ]:
df7.shape

In [ ]:
df7.tail()

In [ ]:
# function to create histogram, Q-Q plot and boxplot
 
# for Q-Q plots
import scipy.stats as stats
 
def diagnostic_plots(df, variable):
    # function takes a dataframe (df) and
    # the variable of interest as arguments
 
    # define figure size
    plt.figure(figsize=(16, 4))
 
    # histogram
    plt.subplot(1, 3, 1)
    sns.distplot(df[variable], bins=30)
    plt.title('Histogram')
 
    # Q-Q plot
    plt.subplot(1, 3, 2)
    stats.probplot(df[variable], dist="norm", plot=plt)
    plt.ylabel('Variable quantiles')
 
    # boxplot
    plt.subplot(1, 3, 3)
    sns.boxplot(y=df[variable])
    plt.title('Boxplot')
 
    plt.show()
num_var = ["bath","balcony","total_sqft_int","bhk","price"]
for var in num_var:
    print("******* {} *******".format(var))
    diagnostic_plots(df7, var)

In [ ]:
# here we consider  1 BHK requierd min 350 sqft are
df7[df7['total_sqft_int']/df7['bhk'] < 350].head()

In [ ]:
# if 1 BHK total_sqft are < 350 then we ae going to remove them
df8 = df7[~(df7['total_sqft_int']/df7['bhk'] < 350)]
df8.shape

In [ ]:
# create new feature that is price per squre foot 
# it help to find the outliers
 
#price in lakh so conver into rupee and then / by total_sqft_int
df8['price_per_sqft'] = df8['price']*100000 / df8['total_sqft_int']  
df8.head()

In [ ]:
df8.price_per_sqft.describe()

In [ ]:
#here we can see huge difference between min and max price_per_sqft
# min 6308.502826 max 176470.588235
 
# Removing outliers using help of 'price per sqrt'  taking std and mean per location
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        reduced_df = subdf[(subdf.price_per_sqft > (m - st)) & (subdf.price_per_sqft <= (m + st))]
        df_out = pd.concat([df_out, reduced_df], ignore_index=True)
    return df_out

In [ ]:
df9 = remove_pps_outliers(df8)
df9.shape

In [ ]:
def plot_scatter_chart(df, location):
    bhk2 = df[(df.location == location) & (df.bhk == 2)]
    bhk3 = df[(df.location == location) & (df.bhk == 3)]
    plt.figure(figsize=(16, 9))
    plt.scatter(bhk2.total_sqft_int, bhk2.price, color='Blue', label='2 BHK', s=50)
    plt.scatter(bhk3.total_sqft_int, bhk3.price, color='Red', label='3 BHK', s=50, marker="+")
    plt.xlabel("Total Square Feet Area")
    plt.ylabel("Price")
    plt.title(location)
    plt.legend()

plot_scatter_chart(df9, "Rajaji Nagar")

# scatterplot 
##  we observe that at same location price of 2 bhk house is greater than 3 bhk so it is outlier

In [ ]:
plot_scatter_chart(df9, "Hebbal")

# Removing BHK outliers

In [ ]:
 

def remove_bhk_outliers(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk - 1)
            if stats and stats['count'] > 5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft < stats['mean']].index.values)
    return df.drop(exclude_indices, axis='index')

df10 = remove_bhk_outliers(df9)
df10.shape

In [ ]:
df10.bath.unique()
 
df10[df10.bath > df10.bhk+2]

## here we are considering data only total no. bathroom =  bhk + 1

In [ ]:
df11 = df10[df10.bath < df10.bhk+2]
df11.shape

# Boxplot

In [ ]:
plt.figure(figsize=(16,9))
for i,var in enumerate(num_var):
    plt.subplot(3,2,i+1)
    sns.boxplot(df11[var])

In [ ]:
df11.head()

In [ ]:
df12 = df11.drop(['area_type', 'availability',"location","size","total_sqft"], axis =1)
df12.head()

# Test ml model on this data

### ML model train on this data and got best score >>>> XGBoost=0.914710

In [ ]:
df12.to_csv("clean_data.csv", index=False)

# ----Categorical Variable Encoding------

In [ ]:
df13 = df11.drop(["size","total_sqft"], axis =1)
df13.head()

In [ ]:
df14 = pd.get_dummies(df13, drop_first=True, columns=['area_type','availability','location'])
df14.shape

In [ ]:
df14.head()

## Test ML model on this data

In [ ]:
df14.to_csv('oh_encoded_data.csv', index=False)

In [ ]:
df15 = df13.copy()

In [ ]:
df15.shape

In [ ]:
df15.head(2)

## Working with <<<<< availability >>>>> Feature"""

In [ ]:
df15["availability"].value_counts()
 
# in availability feature, 10525 house 'Ready to Move" and remaining will be redy on perticuler date
# so we crate new feature ""availability_Ready To Move"" and add vale 1 if availability is Ready To Move else 0
df15["availability_Ready To Move"] = np.where(df15["availability"]=="Ready To Move",1,0)
df15.shape

In [ ]:
df15.tail()

## Working on <<<< Location >>>> feature"""

In [ ]:
location_value_count = df15['location'].value_counts()
location_value_count
 
location_gert_20 = location_value_count[location_value_count>=20].index
location_gert_20

In [ ]:
# location count is greter than 19 then we create column of that feature 
# then if this location present in location feature then set value 1 else 0 ( ohe hot encoding)
df16 = df15.copy()
for cat_var in location_gert_20:
    df16['location_'+cat_var]=np.where(df16['location']==cat_var, 1,0)

In [ ]:
df16.shape

In [ ]:
df16.head()

## Drop categorical variable

In [ ]:
df17 = df16.drop(["area_type","availability",'location'], axis =1)
df17.shape

In [ ]:
df17.head()

In [ ]:
df17.to_csv('ohe_data_reduce_cat_class.csv', index=False)

# Thanks for Giving Your Precious time for this Notebook!