In [4]:
import numpy as np 
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\Anil Pawar\Downloads\uber_rides_data.xlsx - sample_train.csv")

In [16]:
df.head()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5

In [6]:
df.shape

(200000, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

In [11]:
average = df['fare_amount'].mean()
print(average)

11.359955250000002

In [13]:
max = df['fare_amount'].max()
print(max)

499.0

In [18]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
total_2014 = df[df['pickup_datetime'].dt.year == 2014]['ride_id'].sum()
print(total_2014)

827695471297

In [21]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
september_2010 = df[(df['pickup_datetime'].dt.year == 2010) & (df['pickup_datetime'].dt.month == 9)]
september_2010['day_of_week'] = september_2010['pickup_datetime'].dt.dayofweek

C:\Users\Anil Pawar\AppData\Local\Temp\ipykernel_16668\824552862.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  september_2010['day_of_week'] = september_2010['pickup_datetime'].dt.dayofweek

In [25]:
rides_by_day = september_2010.groupby('day_of_week')['ride_id'].count()
max_rides_day = rides_by_day.idxmax()
max_rides_count = rides_by_day.max()
days = {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}
print(f"The day with the maximum rides in September 2010 is {days[max_rides_day]} with {max_rides_count} rides.")

The day with the maximum rides in September 2010 is Thursday with 457 rides.

In [30]:
def haversine(lat1, lon1, lat2, lon2):
     R = 6371.0
lat1 = np.radians(lat1)
lon1 = np.radians(lon1)
lat2 = np.radians(lat2)
lon2 = np.radians(lon2)

NameError: name 'lat1' is not defined

In [35]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
rides_2014 = df[df['pickup_datetime'].dt.year == 2014]
num_rides_2014 = rides_2014.shape[0]
print(f"Number of rides recorded in the year 2014: {num_rides_2014}")

Number of rides recorded in the year 2014: 29968

In [39]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
first_quarter_2014 = df[(df['pickup_datetime'] >= '2014-01-01') &  (df['pickup_datetime'] <= '2014-03-31')]
num_rides_first_quarter = first_quarter_2014.shape[0]

print(f"Number of rides recorded in the first quarter of 2014: {num_rides_first_quarter}")

Number of rides recorded in the first quarter of 2014: 7617

In [42]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
september_rides = df[(df['pickup_datetime'] >= '2010-09-01') & (df['pickup_datetime'] <= '2010-09-30')]
september_rides['day_of_week'] = september_rides['pickup_datetime'].dt.day_name()

C:\Users\Anil Pawar\AppData\Local\Temp\ipykernel_16668\1081189084.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  september_rides['day_of_week'] = september_rides['pickup_datetime'].dt.day_name()

In [45]:
rides_per_day = september_rides['day_of_week'].value_counts()
max_rides_day = rides_per_day.idxmax()
max_rides_count = rides_per_day.max()
print(f"The day with maximum rides in September 2010 was {max_rides_day} with {max_rides_count} rides.")

The day with maximum rides in September 2010 was Wednesday with 391 rides.

In [46]:
missing_values_count = df['dropoff_longitude'].isnull().sum()
print(f"Number of missing values in 'dropoff_longitude' column: {missing_values_count}")

Number of missing values in 'dropoff_longitude' column: 1